.box-message-send {
    position: relative;
    float: right;
    width: 30%;
    height: auto;
    text-align: left;
    padding: 0.3rem 1rem;
    margin: 1rem 2rem;
    background-color: #0183ff;
    color: white;
    font-family: 'Poppins';
    border-radius: 12px;
}

.animate-bottom {
    position: relative;
    animation: animatebottom .5s
}
@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}