.input-atom {
    font-family: 'Poppins';
}

.input-atom label {
    float: left;
    color: #3C6E71;
    font-weight: 600;
    margin: 0 2rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.input-atom input {
    width: 80%;
    color: #2d494b;
    padding: 0.75rem 1rem;
    margin: 1.2rem 0.75rem;
    display: inline-block;
    border: 1px solid #3C6E71;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus-visible,
textarea:focus-visible {
    outline: 1.5px solid #3C6E71;
}

@media (max-width: 767px) {
    .input-atom label {
        color: #3C6E71;
        margin: 0 0rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }
}