.btn-container {
    margin: 1rem;
    padding: 1rem;
}

.btn-container button {
    cursor: pointer;
    font-size: 18px;
    padding: 0.5rem 2rem;
    border: 1px solid #284B63;
    background-color: #284B63;
    border-radius: 10px;
    color: white;
}

.btn-container button:hover {
    background-color: white;
    color: #284B63;
}

.signUp-background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -9999;
}

#imgCurve-1 {
    position: absolute;
    width: 48%;
    top: 0;
    right: 0;
    opacity: 0.5;
    overflow: hidden;
    z-index: -999;
}

.label-signUpIn {
    color: #284B63;
    text-align: center;
    font-size: 30px;
}

.signInUp-info {
    text-align: center;
    color: #284B63;
}

.signInUp-info h3 {
    margin: 0.5rem;
    font-weight: 400;
}

.signInUp-info h4 {
    margin: 0.5rem;
    cursor: pointer;
}

@media (max-width: 767px) {

}