.list-chat-container {
    display: grid;
    grid-template-rows: 10% 75% auto;
}
.box-header-info{
    display: flex;
    justify-content: space-between;
    background-color: #284B63;
    color: white;
    font-size: 22px;
    padding:0 1rem;
}
.box-header-info p{
    margin: 1rem 0;
}
.list-chat {
    overflow-y: scroll;
}
.btn-logout {
    margin: 0.5rem auto;
}

.btn-logout button {
    cursor: pointer;
    font-size: 18px;
    padding: 0.5rem 2rem;
    border: 1px solid #284B63;
    background-color: #284B63;
    border-radius: 10px;
    color: white;
}
.btn-logout button:hover {
    background-color: white;
    color: #284B63;
}

@media (max-width: 767px) {

}